:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --border-radius: 0.5rem;
  --text: #1F2937;
  --text-muted: #6b7280;
  --bg: #e5e7eb;
  --bg-bars: #f9fafb;
  --border: #00000014;
  --accent: #6ec4be;
  --accent-muted: #6ec4bede;
  --accent-bg: #6ec4be26;

  font-family: var(--sans);
  font-size: clamp(16px, 1.2vw, 18px);
  line-height: 1.5;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e5e7eb;
    --text-muted: #9ca3af;
    --bg: #111827;
    --bg-bars: #1f2937;
    --border: #ffffff14;
    --accent: #4CB5AE;
    --accent-muted: #4cb5aede;
    --accent-bg: #4cb5ae33;
  }
}

:root.light {
  --text: #1F2937;
  --text-muted: #6b7280;
  --bg: #e5e7eb;
  --bg-bars: #f9fafb;
  --border: #00000014;
  --accent: #6EC4BE;
  --accent-muted: #6ec4bede;
  --accent-bg: #6ec4be26;
}

:root.dark {
    --text: #e5e7eb;
    --text-muted: #9ca3af;
    --bg: #111827;
    --bg-bars: #1f2937;
    --border: #ffffff14;
    --accent: #4CB5AE;
    --accent-muted: #4cb5aede;
    --accent-bg: #4cb5ae33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}