.navBar {
  grid-area: navBar;
  background-color: var(--bg-bars);
  border-bottom: 1px solid var(--border);
  padding: 0.75rem 1rem;
  /* Mobile */
  display: grid;
  grid-template-rows: 3rem 2.75rem;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "sideBarToggle navTitle cartButton" "search search search";
  align-items: center;
  gap: 0.5rem;
}

@media screen and (min-width: 992px) {
  /* Desktop */
  .navBar {
    grid-template-rows: auto;
    grid-template-areas: "navTitle search cartButton";
    gap: 1rem;
  }
}

.sideBarToggle {
  grid-area: sideBarToggle;
}

@media screen and (min-width: 992px) {
  /* Desktop */
  .sideBarToggle {
    display: none;
  }
}

.navTitle {
  transform: translateY(-3px);
  font-size: 1.5rem;
  grid-area: navTitle;
}

.cartLink {
  grid-area: cartButton;
  padding: 0.5rem;
  position: relative;
}

.itemCounter {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.325rem;
  height: 1.325rem;
  font-size: 1rem;
  border-radius: 50%;
  background-color: var(--accent);
  color: var(--text);
  display: none;
  justify-content: center;
  align-items: center;
}

.itemCounter.show {
  display: flex;
}

.svgButton {
  color: var(--text);
  background: none;
  border: 0;
  cursor: pointer;
}

.svgButton:hover {
  color: var(--text-muted);
}
