.rootDiv {
  width: 100vw;
  min-height: 100dvh;
  display: grid;
  /* Mobile */
  position: relative;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navBar" "pageContent";
  @media screen and (min-width: 992px) {
    /* Desktop */
    position: static;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "navBar navBar" "sideBar pageContent";
  }
}

.navBar {
  background-color: var(--bg-bars);
  border-bottom: 1px solid var(--border);
  grid-area: navBar;
  padding: 0.75rem 1rem;
  /* Mobile */
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "sideBarToggle navTitle cartButton" "search search search";
  align-items: center;
  gap: 0.5rem;
  @media screen and (min-width: 992px) {
    /* Desktop */
    grid-template-rows: auto;
    grid-template-areas: "navTitle search cartButton";
  }
}

.pageContent {
  grid-area: pageContent;
}

.sideBar {
  background-color: var(--bg-bars);
  border-right: 1px solid var(--border);

  /* Mobile */
  position: absolute;
  top: 3.5rem;
  left: 0;
  opacity: 0;
  width: 50vw;
  height: calc(100dvh - 3.5rem);
  transform: translateX(-50vw);
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  @media screen and (min-width: 992px) {
    /* Desktop */
    position: static;
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    grid-area: sideBar;
  }
}

.sideBar.open {
  opacity: 1;
  transform: translateX(0);
}

.sideBarToggle {
  grid-area: sideBarToggle;
  @media screen and (min-width: 992px) {
    /* Desktop */
    display: none;
  }
}

.navTitle {
  grid-area: navTitle;
}

.cartButton {
  grid-area: cartButton;
}

.svgButton {
  color: var(--text);
  background: none;
  border: 0;
  cursor: pointer;
}

.svgButton:hover {
  color: var(--text-hover);
}

.search {
  grid-area: search;
  border-radius: var(--border-radius);
  font-size: 1.25rem;
  height: 2.75rem
}