.rootDiv {
  width: 100vw;
  min-height: 100dvh;
  display: grid;
  /* Mobile */
  position: relative;
  grid-template-rows: auto 1fr;
  grid-template-areas: "navBar" "pageContent";
  @media screen and (min-width: 992px) {
    /* Desktop */
    position: static;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "navBar navBar" "sideBar pageContent";
  }
}

.pageContent {
  grid-area: pageContent;
}