.search {
  grid-area: search;
  border-radius: var(--border-radius);
  font-size: 1.25rem;
  height: 2.75rem;
  padding: 0.25rem;
  border: 1px solid var(--border);
  background-color: var(--bg);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  @media screen and (min-width: 992px) {
    /* Desktop */
    width: 80%;
    margin: auto;
  }
}

.searchBar {
  font-size: 1.25rem;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  box-shadow: none;
}