
.sideBar {
  background-color: var(--bg-bars);
  border-right: 1px solid var(--border);
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas: "links" "themeButton";
  padding: 0.75rem 1rem;

  /* Mobile */
  position: absolute;
  top: 7.75rem;
  left: 0;
  opacity: 0;
  width: 50vw;
  height: calc(100dvh - 7.75rem);
  transform: translateX(-50vw);
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
  @media screen and (min-width: 992px) {
    /* Desktop */
    position: static;
    opacity: 1;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    grid-area: sideBar;
  }
}

.sideBar.open {
  opacity: 1;
  transform: translateX(0);
}

.themeButton {
  margin-right: auto;
  color: var(--text);
  background: none;
  border: 0;
  cursor: pointer;
}

.themeButton:hover {
  color: var(--text-muted);
}